.table{
    margin-top: 20px;
}
.dot-gray{
    background-color: gray;
    width: 10px;
    margin-top: 9px;
    height: 10px;
    border-radius: 50%;
}

.dot-red{
    background-color: red;
    margin-top: 9px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dot-green{
    background-color: green;
    width: 10px;
    margin-top: 9px;
    height: 10px;
    border-radius: 50%;
}
